$white: #ffffff;

html, body, .flexbox{
  background: $white;
  height: 100% !important;
}

/*
.flexbox{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
*/

@-webkit-keyframes backgroundColors {
  0% {background-color: #EA6045; }
  25% {background-color: #F8CA4D;}
  50% {background-color: #F5E5C0;}
  75% {background-color: #3F5666;}
  100% {background-color: #2F3440;}
}

@-webkit-keyframes fontColors {
  0% {color: #EA6045; }
  25% {color: #F8CA4D;}
  50% {color: #F5E5C0;}
  75% {color: #3F5666;}
  100% {color: #2F3440;}
}

.homepageContainer {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #EA6045;
  -webkit-animation: backgroundColors 20s infinite alternate;
  text-align: center;
  font-family: 'Playfair Display', serif;

  h1{
    color: $white;
    font-weight: 700;
    font-family: "lust-display",sans-serif;
    font-family: 'Amatic SC', cursive;
    font-size: 9em;
  }

  h3{
    font-size: 2em;
    color: white;
    font-family: 'Playfair Display', serif;
  }

}

.projectsContainer{
  background:#F3F2F0;

  h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    padding: 20px 0 0 0;
    line-height: 1.5;
  }

  h4{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 2.2;
    font-weight: 700;
    padding-bottom: 20px;
  }

  p{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 2.2;
    color: #666;
  }

  .story{
    padding: 10px 100px;
  }
}

.weirdFont{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.border{
  width: 100%;
  position: fixed;
  background: $white;
  z-index: 500;
}

.contentBorder{
  content: '.';
  visibility: hidden;
}

.borderTop {
  top:0;
  min-height: 20px;
}

.borderRight {
  width: 20px;
  height: 100%;
  top: 0;
  right: 0;
}

.borderBottom {
  bottom:0;
  min-height: 20px;
}

.borderLeft {
  width: 20px;
  height: 100%;
  top: 0;
  left: 0;
}

button{
  background: $white;
  padding: 15px 25px;
  border: none;
  border-radius: 2px;
  font-size: 1.5em;
  -webkit-animation: fontColors 20s infinite alternate;
}


.centerTitle{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

.navbar{
  background: none;
  z-index: 999;
  border: none;
  padding:20px;
}


#carbonCMS{
  background: url('https://themidatlanticlounge.files.wordpress.com/2014/07/summermusicfest.jpg');
  height: 300px;
}

.projectDescription{
  border-top: 5px solid #e7e7e7;
}

.pt20{
  padding-top:20px;
}

/* MENU */
html, body {
  height:100%;
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;


}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;

  padding: 5% 0 0 0; /* Temp: Just spacing. */
}

#site-menu {
  width: 30em;
  height: 100%;
  position: absolute;
  top: 0;
  right: -30em;
  background: #f3f3f3;
  border-right: 2px solid #333333;
  padding: 15px;
}



#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(-30em);
  transform: translateX(-30em);
}

a.toggle-nav {position: absolute;
  top:0;
  right:0;
  color: #777777;
  padding: 50px;
  font-size: 14px;

}

/* Better Performing Method */
#site-canvas {
  -webkit-transform: translate3d(0);
  transform: translate3d(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.show-nav #site-canvas {
  -webkit-transform: translate3d(30em);
  transform: translate3d(30em);
}

.btn:active, .btn.active{
  box-shadow: none;
}