<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="flexbox homepageContainer">

    <h1 class="title wrap">Danielle</h1>

      <p>red</p>
      <p>Welcome to My New App </p>
      <button>View Work</button>

  </div>



  <div class="border borderTop"></div>
  <div class="border borderRight"></div>
  <div class="border borderBottom"></div>
  <div class="border borderLeft"></div>

  </body>
</html>
