<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="flexbox homepageContainer">

    <div class="centerTitle">
    <h1 class="title wrap">Hey, I'm Danielle</h1>
      <h3>~ Marketing, Web & Product Design ~</h3>
      <button>View my projects</button>
      <i class="fa fa-camera-retro"></i>
  </div>
  </div>



  <div class="border borderTop"></div>
  <div class="border borderRight"></div>
  <div class="border borderBottom"></div>
  <div class="border borderLeft"></div>

  </body>
</html>
